# FOR Loops and the range() Function

To be continued next week

In [5]:
 for rasha in range(5):
        print(rasha) # the for clause

0
1
2
3
4

In [8]:
 for i in 'fiver':
        print(i) # the for clause

f
i
v
e
r

In [11]:
print('My name is')
for i in range(5):
    print('Jimmy Five Times (' + str(i) + ')') # the for cluase

My name is
Jimmy Five Times (0)
Jimmy Five Times (1)
Jimmy Five Times (2)
Jimmy Five Times (3)
Jimmy Five Times (4)

In [10]:
fullname = 'rami' + ' H ' + 'bakri' + 1

TypeError: can only concatenate str (not "int") to str

In [9]:
print(fullname)

rami H bakri

In [9]:
fiver = range(5)

In [10]:
fiver

range(0, 5)

In [15]:
total = 0
for num in range(101):
    print(f'adding {num} to total which is {total}')
    total = total + num
    print(f'total now equals { total }')
    
print(total)

adding 0 to total which is 0
total now equals 0
adding 1 to total which is 0
total now equals 1
adding 2 to total which is 1
total now equals 3
adding 3 to total which is 3
total now equals 6
adding 4 to total which is 6
total now equals 10
adding 5 to total which is 10
total now equals 15
adding 6 to total which is 15
total now equals 21
adding 7 to total which is 21
total now equals 28
adding 8 to total which is 28
total now equals 36
adding 9 to total which is 36
total now equals 45
adding 10 to total which is 45
total now equals 55
adding 11 to total which is 55
total now equals 66
adding 12 to total which is 66
total now equals 78
adding 13 to total which is 78
total now equals 91
adding 14 to total which is 91
total now equals 105
adding 15 to total which is 105
total now equals 120
adding 16 to total which is 120
total now equals 136
adding 17 to total which is 136
total now equals 153
adding 18 to total which is 153
total now equals 171
adding 19 to total which is 171
total now equals 190
adding 20 to total which is 190
total now equals 210
adding 21 to total which is 210
total now equals 231
adding 22 to total which is 231
total now equals 253
adding 23 to total which is 253
total now equals 276
adding 24 to total which is 276
total now equals 300
adding 25 to total which is 300
total now equals 325
adding 26 to total which is 325
total now equals 351
adding 27 to total which is 351
total now equals 378
adding 28 to total which is 378
total now equals 406
adding 29 to total which is 406
total now equals 435
adding 30 to total which is 435
total now equals 465
adding 31 to total which is 465
total now equals 496
adding 32 to total which is 496
total now equals 528
adding 33 to total which is 528
total now equals 561
adding 34 to total which is 561
total now equals 595
adding 35 to total which is 595
total now equals 630
adding 36 to total which is 630
total now equals 666
adding 37 to total which is 666
total now equals 703
adding 38 to total which is 703
total now equals 741
adding 39 to total which is 741
total now equals 780
adding 40 to total which is 780
total now equals 820
adding 41 to total which is 820
total now equals 861
adding 42 to total which is 861
total now equals 903
adding 43 to total which is 903
total now equals 946
adding 44 to total which is 946
total now equals 990
adding 45 to total which is 990
total now equals 1035
adding 46 to total which is 1035
total now equals 1081
adding 47 to total which is 1081
total now equals 1128
adding 48 to total which is 1128
total now equals 1176
adding 49 to total which is 1176
total now equals 1225
adding 50 to total which is 1225
total now equals 1275
adding 51 to total which is 1275
total now equals 1326
adding 52 to total which is 1326
total now equals 1378
adding 53 to total which is 1378
total now equals 1431
adding 54 to total which is 1431
total now equals 1485
adding 55 to total which is 1485
total now equals 1540
adding 56 to total which is 1540
total now equals 1596
adding 57 to total which is 1596
total now equals 1653
adding 58 to total which is 1653
total now equals 1711
adding 59 to total which is 1711
total now equals 1770
adding 60 to total which is 1770
total now equals 1830
adding 61 to total which is 1830
total now equals 1891
adding 62 to total which is 1891
total now equals 1953
adding 63 to total which is 1953
total now equals 2016
adding 64 to total which is 2016
total now equals 2080
adding 65 to total which is 2080
total now equals 2145
adding 66 to total which is 2145
total now equals 2211
adding 67 to total which is 2211
total now equals 2278
adding 68 to total which is 2278
total now equals 2346
adding 69 to total which is 2346
total now equals 2415
adding 70 to total which is 2415
total now equals 2485
adding 71 to total which is 2485
total now equals 2556
adding 72 to total which is 2556
total now equals 2628
adding 73 to total which is 2628
total now equals 2701
adding 74 to total which is 2701
total now equals 2775
adding 75 to total which is 2775
total now equals 2850
adding 76 to total which is 2850
total now equals 2926
adding 77 to total which is 2926
total now equals 3003
adding 78 to total which is 3003
total now equals 3081
adding 79 to total which is 3081
total now equals 3160
adding 80 to total which is 3160
total now equals 3240
adding 81 to total which is 3240
total now equals 3321
adding 82 to total which is 3321
total now equals 3403
adding 83 to total which is 3403
total now equals 3486
adding 84 to total which is 3486
total now equals 3570
adding 85 to total which is 3570
total now equals 3655
adding 86 to total which is 3655
total now equals 3741
adding 87 to total which is 3741
total now equals 3828
adding 88 to total which is 3828
total now equals 3916
adding 89 to total which is 3916
total now equals 4005
adding 90 to total which is 4005
total now equals 4095
adding 91 to total which is 4095
total now equals 4186
adding 92 to total which is 4186
total now equals 4278
adding 93 to total which is 4278
total now equals 4371
adding 94 to total which is 4371
total now equals 4465
adding 95 to total which is 4465
total now equals 4560
adding 96 to total which is 4560
total now equals 4656
adding 97 to total which is 4656
total now equals 4753
adding 98 to total which is 4753
total now equals 4851
adding 99 to total which is 4851
total now equals 4950
adding 100 to total which is 4950
total now equals 5050
5050

In [16]:
print('My name is')
i = 0
while i < 5:
    print('Jimmy Five Times (' + str(i) + ')')
    i = i + 1

My name is
Jimmy Five Times (0)
Jimmy Five Times (1)
Jimmy Five Times (2)
Jimmy Five Times (3)
Jimmy Five Times (4)

In [17]:
for i in range(12, 16):
    print(i)

12
13
14
15

In [18]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(0, 10, 4):
    print(i)

0
4
8

In [22]:
for i in range(5, -1, -1):
    print(i)

5
4
3
2
1
0